static-sitegen/.DS_Store
.history
**/poetry.lock
tools/.DS_Store
.DS_Store
**/__pycache__
**/.env
**.egg-info
ro-crate-ingest/.gitignore
bia-ingest/.vscode/settings.json
ro-crate-ingest/.vscode/settings.json
