<html lang="en" class="vf-no-js">
    <head>
        <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.8/css/styles.css">
        <title>Collection landing</title>
    </head>

    <body>
        <!-- Header -->
        <header class="vf-global-header">

            <header class="vf-global-header">

                <div class="vf-global-header__inner">
          
                  <a href="http://www.embl.de" class="vf-logo">
                    <img class="vf-logo__image" src="/bia-integrator-data/pages/assets/BIA-Logo.png" alt="BioImage Archive">
                    <span class="vf-logo__text">   BioImage Archive</span>
                  </a>
          
                </div>
          
            </header>
        </header>

        <!-- Collection summary -->
        <div class="vf-stack vf-stack--500">
            <section class="vf-intro | embl-grid embl-grid--has-centered-content">
                <div></div>
                <div>
                    <h1 class="vf-intro__heading vf-intro__heading--has-tag">{{ collection.title }}<a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">alpha</a></h1>
                    <h2 class="vf-intro__subheading">{{ collection.subtitle }}</h2>
                    {{ collection.description }}
                </div>
                <div></div>
            </section>
 
            <!-- Images -->
            <section class="vf-content | embl-grid embl-grid--has-centered-content">
                <div>

                </div>
                <div>

                    <section>
                        
                    <table class="vf-table--striped">
                        <colgroup>
                              <col span="1" style="width: 15%;">
                              <col span="1" style="width: 40%;">
                              <col span="1" style="width: 35%;">
                              <col span="1" style="width: 10%;">
                        </colgroup>
                            <tr class="vf-table__row">
                                <th class="vf-table__heading">Info</th>
                                <th class="vf-table__heading">Thumbnail</th>
                                <th class="vf-table__heading">Title</th>
                                <th class="vf-table__heading">More</th>
                            </tr>
                            {% for study in studies %}
                            <tr class="vf-table__row">
                              <td class="vf-table__cell">
                                  <b>{{ study.accession_id }}</b>
                                  <br><br>
                                  {{ study.images|length }} images
                                  <br><br>
                                  {{ study.tags }}
                                  <br><br>
                                  <a href="{{ study.accession_id }}.html"><button class="vf-button vf-button--sm">view</button></a>
                              </td>
                              <td class="vf-table__cell">{{ study.title }}</td>
                              <td class="vf-table__cell">
                                  <figure class="vf-figure vf-figure--align vf-figure--align-centered">
                                    <img class="vf-figure__image" src="{{ study.example_image_uri }}">
                                  </figure>  
                              </td>
                              <td class="vf-table__cell">
                                {{ study.imaging_type }}
                                <br><hr>
                                {{ study.organism }}
                              </td>
                              {# <td class="vf-table__cell">{{ study.images|length }}</td> #}
                              {# <td class="vf-table__cell--actions">
                                <a href="{{ study.accession_id }}.html"><button class="vf-button vf-button--sm vf-button--icon">view</button></a>
                              </td> #}
                            </tr>
 
                            {% endfor %}
                      </table>
                      </section>
                </div>
            </section>

          </div>
    </body>
</html>
