{% extends "base.html.j2" %}

{% block header_extras %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.8/css/styles.css">
    </head>

{% endblock %}

{% block title %}  How to contribute to the Collections  {% endblock %}

{% block content %}
    <section class="vf-content | embl-grid embl-grid--has-centered-content">
        <div></div>
        <div>
        <h3 class="vf-intro_subheading">How to contribute to the Galleries collections</h3>  
        <p>
        Galleries is a new addition to the BioImage Archive website. It provides a different presentation of the datasets 
        in the archive where you can visualise the images on-the-fly.  
        </p>
        <p>
        There are more collections due to be added to the Galleries. We will also keep adding more datasets to the existing collections. 
        Please <a href="mailto:bioimage-archive@ebi.ac.uk">contact us</a> if there is a dataset you would like to be added to one of the collections. 
        This may be a submission that is already in the BioImage Archive, or a dataset that you'd like to submit, or a public 
        dataset elsewhere which you think would benefit from the visualisation features in our Galleries. 
            </div>
        <div></div>
        </section>
        </div>
    </body>
    
{% endblock %}