appnope==0.1.3
asttokens==2.2.0
backcall==0.2.0
-e git+ssh://git@github.com/BioImage-Archive/bia-integrator-core.git@7acabb64334a94608e72673366124f2b1bd52893#egg=bia_integrator_core
-e git+ssh://git@github.com/BioImage-Archive/bia-integrator-tool.git@68c4cb3a1e4d98a2b083f2a2382f27012d24dee7#egg=bia_integrator_tools
boto3==1.26.22
botocore==1.29.22
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
decorator==5.1.1
entrypoints==0.4
executing==1.2.0
idna==3.4
ipython==8.7.0
jedi==0.18.2
jmespath==1.0.1
matplotlib-inline==0.1.6
numpy==1.23.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.33
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.10.2
Pygments==2.13.0
python-dateutil==2.8.2
requests==2.28.1
rich==12.6.0
ruamel.yaml==0.17.21
s3transfer==0.6.0
shellingham==1.5.0
six==1.16.0
stack-data==0.6.2
traitlets==5.6.0
typer==0.7.0
typing_extensions==4.4.0
urllib3==1.26.13
wcwidth==0.2.5
