# note user_name and user_password should be consitent in the next 3 rows
MONGO_CONNSTRING="mongodb://user_name:user_password@mongo_host:27017/"
MONGO_INITDB_ROOT_USERNAME=should_match_connstring
MONGO_INITDB_ROOT_PASSWORD=should_match_connstring
DB_NAME=bia_integrator
DB_TIMEOUT_MS=500
# run: 'openssl rand -hex 32' to generate a secret key for testing
JWT_SECRET_KEY="long_key"
# token needs to end in ==
USER_CREATE_SECRET_TOKEN="some_long_secret_token"